<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>채널미들웨어 | 요금표</title>
  <meta name="keywords" content="채널미들웨어 | 요금표">
  <meta name="application-name" content="채널미들웨어 | 요금표">
  <meta name="msapplication-tooltip" content="채널미들웨어 | 요금표">
  <meta id="meta_og_title" property="og:title" content="채널미들웨어 | 요금표">
  <meta name="description" content="채널미들웨어 | 요금표">
  <meta property="og:description" content="채널미들웨어 | 요금표">
  <link href="assets/style/vendors/vuetify@3.7.19_dist_vuetify-labs.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">
  <link rel="shortcut icon" href="assets/images/common/icons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/common/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/common/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/common/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/common/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/common/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/common/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/common/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/common/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/common/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/images/common/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/common/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/images/common/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/common/icons/favicon-16x16.png">
  <link rel="manifest" href="assets/images/common/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/common/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta property="og:image" content="assets/images/common/og-image.jpg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="627">
  <link rel="stylesheet" href="assets/style/style.css">
  <script src="assets/js/vendors/jquery.min.js"></script>
  <script src="assets/js/vendors/aos.js"></script>
  <script src="assets/js/common.js"></script>

  <script src="assets/js/vendors/unpkg.com_vue@3.3.4_dist_vue.global.js"></script>
  <script src="assets/js/vendors/vuetify@3.7.19_dist_vuetify.min.js"></script>
</head>
<body>
<div class="sub">
  <header class="header js-header">
  <div class="layout">
    <h1 class="header-logo">
      <a href="index.html" class="header-logo__link">채널미들웨어</a>
    </h1>
    <nav class="header-menu">
      <div class="header-menu-inner">
        <a href="pricing.html" class="header-menu__link">요금표</a>
        <a href="contact.html" class="header-menu__link">문의하기</a>
        <a href="" class="header-menu__link">메뉴1</a>
        <a href="" class="header-menu__link">메뉴2</a>
      </div>
      <a href="login.html" class="header-menu-login">로그인</a>
    </nav>
    <nav class="header-right-menu">
      <a href="login.html" class="header-right-menu__link">로그인</a>
      <a href="sign-up.html" class="header-right-menu__link">무료 회원가입</a>
    </nav>
    <div class="header-menu-mobile">
      <a href="sign-up.html" class="header-right-menu__link">무료 회원가입</a>
      <button class="header-menu-button js-header-menu-button"></button>
    </div>
  </div>
</header>

  <!--  요금제 계산-->
  <article class="section pricing-content">
    <div class="layout">
      <header class="price-header">
        <h1 class="price__title">채널미들웨어 요금표</h1>
      </header>
      <article id="calculatePriceArticle" class="price-calculate-container pricing-layout">
        <h2 class="price-calculate__title">버전을 선택하시면 제공되는 사용한도를 보실수 있어요!</h2>
        <div class="price-version">
          <button
            class="price-version__item"
            :class="{'selected' : selected === 'BASIC'}"
            @click="handleSelectOrder('BASIC')"
          >
            <strong class="price-version__name">베이직</strong>
            <span class="price-version__price">
              <strong>50,000</strong> 원/월
            </span>
            <i class="price-version__content">
              300건
            </i>
          </button>
          <button
            class="price-version__item"
            :class="{'selected' : selected === 'PRO'}"
            @click="handleSelectOrder('PRO')"
          >
            <strong class="price-version__name">프로</strong>
            <span class="price-version__price">
              <strong>120,000</strong> 원/월
            </span>
            <i class="price-version__content">
              600건
            </i>
          </button>
          <button
            class="price-version__item"
            :class="{'selected' : selected === 'PREMIUM'}"
            @click="handleSelectOrder('PREMIUM')"
          >
            <strong class="price-version__name">프리미엄</strong>
            <span class="price-version__price">
               <strong>180,000</strong> 원/월
            </span>
            <i class="price-version__content">
              1,200건
            </i>
          </button>
          <button
            class="price-version__item"
            :class="{'selected' : selected === 'PLATINUM'}"
            @click="handleSelectOrder('PLATINUM')"
          >
            <strong class="price-version__name">플래티넘</strong>
            <span class="price-version__price">
              <strong>280,000</strong> 원/월
            </span>
            <i class="price-version__content">
              2,000건
            </i>
          </button>
          <button
            class="price-version__item"
            :class="{'selected' : selected === 'ENTERPRISE'}"
            @click="handleSelectOrder('ENTERPRISE')"
          >
            <strong class="price-version__name">엔터프라이즈</strong>
            <span class="price-version__price">
              <strong>??만원</strong> 원/월
            </span>
            <i class="price-version__content">
              사용자 지정
            </i>
          </button>
        </div>
        <div class="price-calculate-content">
          <div class="price-calculate-content-left price-calculate-content-content">
            <div class="price-calculate-content-text">
              <strong class="price-calculate-content__title">요금계산기</strong>
              <p class="price-calculate-content__description">
                슬라이드를 움직여서 요금을 확인해보세요
              </p>
            </div>
            <!-- 건수 -->
            <div class="custom-slider">
              <div class="custom-slider-top">
                <h2 class="custom-slider__name">건수</h2>
                <p class="slider-notice-text" v-if="selected !== 'ENTERPRISE'">
                  해당 버전은 건수를 조정할수 없어요!
                </p>
                <p class="slider-notice-text is--active" v-else>
                  원하는 만큼 건수를 조정해보세요!
                </p>
              </div>
              <!-- ENTERPRISE 일때 start -->
              <div v-if="selected === 'ENTERPRISE'" class="slider-container-area">
                <v-slider
                  v-model="enterpriseCount.inputValue"
                  :min="enterpriseCount.min"
                  :max="enterpriseCount.max"
                  :step="enterpriseCount.step"
                  thumb-label="always"
                  thumb-size="18"
                  thumb-color="#0568FD"
                  track-color="#D4E6FF"
                  track-fill-color="#0568FD"
                  hide-details
                >
                  <template v-slot:thumb-label="{ modelValue }">
                    {{ modelValue.toLocaleString('ko-KR') }}
                  </template>
                </v-slider>
                <div class="slider-range-labels">
                  <span>{{ enterpriseCount.min.toLocaleString('ko-KR') }}</span>
                  <span>max {{ enterpriseCount.max.toLocaleString('ko-KR') }}</span>
                </div>
              </div>
              <!-- ENTERPRISE 일때 end -->             
              <!-- BASIC, PRO, PREMIUM, PLATINUM 일때 start -->
              <div v-else class="slider-container-area">
                <v-slider
                  disabled
                  v-model="otherCount.inputValue"
                  :min="otherCount.min"
                  :max="otherCount.max"
                  :step="otherCount.step"
                  thumb-label="always"
                  thumb-size="18"
                  thumb-color="#0568FD"
                  track-color="#D4E6FF"
                  track-fill-color="#8C8C8C"
                  hide-details
                >
                  <template v-slot:thumb-label="{ modelValue }">
                    {{ modelValue.toLocaleString('ko-KR') }}
                  </template>
                </v-slider>
                <div class="slider-range-labels">
                  <span>{{ otherCount.min.toLocaleString('ko-KR') }}</span>
                  <span>max {{ otherCount.max.toLocaleString('ko-KR') }}</span>
                </div>
              </div>
              <!-- BASIC, PRO, PREMIUM, PLATINUM 일때 end -->
            </div>
            <!-- 스케쥴 -->
            <div class="custom-slider">
              <div class="custom-slider-top">
                <h2 class="custom-slider__name">스케줄 횟수</h2>
              </div>
              <div class="slider-container-area">
                <v-slider
                  v-model="schedule.inputValue"
                  :min="schedule.min"
                  :max="schedule.max"
                  :step="schedule.step"
                  thumb-label="always"
                  thumb-size="18"
                  thumb-color="#0568FD"
                  track-color="#D4E6FF"
                  track-fill-color="#0568FD"
                  hide-details
                >
                  <template v-slot:thumb-label="{ modelValue }">
                    {{ scheduleDisplayValue }}
                  </template>
                </v-slider>
                <div class="slider-range-labels">
                  <span>4</span>
                  <span>max {{ schedule.max }}</span>
                </div>
              </div>
            </div>
          </div>
          <article class="price-calculate-content-right price-calculate-content-content">
            <div class="price-result-top">
              <h2 class="price-result__title">Your Plan</h2>
              <button
                class="price-result__reset-button"
                @click="handleSelectOrder('BASIC')"
              >초기화
              </button>
            </div>
            <div class="price-result-middle">
              <p class="price-result-middle__item">
                건수
                <strong>{{ selected === 'ENTERPRISE' ? enterpriseCountDisplayValue : otherCountDisplayValue }}</strong>
              </p>
              <p class="price-result-middle__item">
                스케줄 횟수
                <strong>{{ scheduleDisplayValue }}</strong>
              </p>
            </div>
            <div class="price-result-bottom">
              <strong class="price-result__total-title">총 가격</strong>
              <div class="price-result-total">
                <div class="price-result-total-price">
                  <strong class="price-result__price">{{ sumPrice }}</strong>
                  <mark class="price-result__price-unit">원/월 <span>(vat 별도)</span></mark>
                </div>
              </div>
            </div>
            <button class="price-result-total__link">무료 회원가입</button>
          </article>
        </div>
      </article>
      <script src="assets/js/include-vue-pricing.js"></script>
    </div>
  </article>


  <!--  요금제 계산-->
  <!--  포함된 기능-->
  <article class="feature-section">
    <div class="pricing-layout">
      <header class="price-header">
        <h2 class="price__title">포함된 기능</h2>
      </header>
      <div class="feature-content-area">
        <div class="feature-content">
          <div class="feature-content-item feature-content-item-head">기능 항목</div>
          <div class="feature-content-item feature-content-item-head">베이직</div>
          <div class="feature-content-item feature-content-item-head">프로</div>
          <div class="feature-content-item feature-content-item-head">프리미엄</div>
          <div class="feature-content-item feature-content-item-head">플래티넘</div>
          <div class="feature-content-item feature-content-item-head">엔터프라이즈</div>
          <div class="feature-content-item feature-content-item-content">항목1</div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">항목2</div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">항목3</div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">항목4</div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content"></div>
          <div class="feature-content-item feature-content-item-content">항목5</div>
          <div class="feature-content-item feature-content-item-content"></div>
          <div class="feature-content-item feature-content-item-content"></div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
          <div class="feature-content-item feature-content-item-content">
            <img src="assets/images/common/check-circle.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </article>
  <!--  포함된 기능-->
  <!-- FAQ -->
  <article class="section faq-section">
    <div class="pricing-layout">
      <header class="price-header">
        <h1 class="price__title">FAQ</h1>
        <p class="price__description">
          가장 많이 물어보시는 질문을 모아 답변해드립니다.<br/>
          보다 정확한 답변을 원하신다면 문의하기를 이용해주세요.
        </p>
      </header>

      <ul class="faq-list">
        <li class="faq-list__item js-faq-list-item first">
          <div class="faq-list__item-question">
            <mark class="faq-list__item-mark">Q.</mark>
            <p class="faq-list__item-content">
              채널미들웨어 솔루션은 무엇인가요?
            </p>
          </div>
          <div class="faq-list__item-answer-area js-faq-answer-area">
            <div class="faq-list__item-answer js-faq-answer">
              <mark class="faq-list__item-mark">A.</mark>
              <p class="faq-list__item-content">
                인증받은 기술로 관리하고 계신 품목과 판매처 채널을 연결하여 실시간으로 재고를 동기화 및 관리하는 솔루션 입니다.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list__item js-faq-list-item">
          <div class="faq-list__item-question">
            <mark class="faq-list__item-mark">Q.</mark>
            <p class="faq-list__item-content">
              채널미들웨어를 이용하면 어떤 이점이 있나요?
            </p>
          </div>
          <div class="faq-list__item-answer-area js-faq-answer-area">
            <div class="faq-list__item-answer js-faq-answer">
              <mark class="faq-list__item-mark">A.</mark>
              <p class="faq-list__item-content">
                재고가 온라인 판매처에 실시간으로 동기화 및 관리가 되어서 불편한 고객 안내와 패널티에 대한 시간과 비용을 줄이실 수 있습니다.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list__item js-faq-list-item up">
          <div class="faq-list__item-question">
            <mark class="faq-list__item-mark">Q.</mark>
            <p class="faq-list__item-content">
              채널미들웨어 이용료가 궁금합니다.
            </p>
          </div>
          <div class="faq-list__item-answer-area js-faq-answer-area">
            <div class="faq-list__item-answer js-faq-answer">
              <mark class="faq-list__item-mark">A.</mark>
              <p class="faq-list__item-content">
                트래픽 기반의 월 정액제 요금으로 문의 주시면 상담을 통해 안내 드리도록 하겠습니다.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list__item js-faq-list-item">
          <div class="faq-list__item-question">
            <mark class="faq-list__item-mark">Q.</mark>
            <p class="faq-list__item-content">
              어느 쇼핑몰을 지원하나요?
            </p>
          </div>
          <div class="faq-list__item-answer-area js-faq-answer-area">
            <div class="faq-list__item-answer js-faq-answer">
              <mark class="faq-list__item-mark">A.</mark>
              <p class="faq-list__item-content">
                국내외 주요 온라인 판매처 채널을 지원하며, 앞으로도 많은 쇼핑 판매처 채널이 추가 될 예정입니다.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list__item js-faq-list-item up">
          <div class="faq-list__item-question">
            <mark class="faq-list__item-mark">Q.</mark>
            <p class="faq-list__item-content">
              회원 가입 방법과 조건이 있나요?
            </p>
          </div>
          <div class="faq-list__item-answer-area js-faq-answer-area">
            <div class="faq-list__item-answer js-faq-answer">
              <mark class="faq-list__item-mark">A.</mark>
              <p class="faq-list__item-content">
                회원가입은 PC에서만 가능합니다. 그리고, 채널미들웨어는 사업자를 위한 서비스로 법인/개인 사업자가 사용하실 수 있습니다. 사업자 등록이 되어있지 않은
                일반 개인회원은 사용이 불가능합니다.
              </p>
            </div>
          </div>
        </li>
        <li class="faq-list__item js-faq-list-item">
          <div class="faq-list__item-question">
            <mark class="faq-list__item-mark">Q.</mark>
            <p class="faq-list__item-content">
              도입 방법이 궁금합니다.
            </p>
          </div>
          <div class="faq-list__item-answer-area js-faq-answer-area">
            <div class="faq-list__item-answer js-faq-answer">
              <mark class="faq-list__item-mark">A.</mark>
              <p class="faq-list__item-content">
                도입에 대한 상담이 필요하신 분은 제휴사 채널 또는 회원 가입후 문의 주시면 순차적으로 안내 드리도록 하겠습니다.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </article>
  <!-- FAQ -->
  <footer class="footer">
  <div class="layout">
    <div class="footer-top">
      <div class="footer-text">
        <strong class="footer-text__subject">고객센터</strong>
        <p class="footer-text__item">
          <a href="tel:1688-0000" class="footer-text__item-tel">1688-0000</a>
          <span class="footer-separator"></span> 카카오톡 : @sellmate
        </p>
        <p class="footer-text__item">
          평일 9시 - 17시 ( 점심 12:00 - 13:30 )
        </p>
        <p class="footer-text__item">
          <a href="mailto:contact@channelm.kr" class="footer-text__item-email">contact@channelm.kr</a>
        </p>
      </div>
      <img src="assets/images/common/footer-logo.svg" alt="channel middleware">
    </div>
    <div class="footer-text">
      <strong class="footer-text__subject">채널미들웨어 주식회사</strong>
      <p class="footer-text__item">
        대표자명 : 김윤상<span class="footer-separator"></span>
        사업자등록번호 872-81-02547<span class="footer-separator"></span>
        통신판매 제2022-서울송파-2641호
      </p>
      <p class="footer-text__item">
        서울 송파구 송파대로 201, B동 913-1
      </p>
    </div>
    <div class="footer-quick">
      <div class="footer-quick-links">
        <a href="/sign-up/terms" class="footer-quick__link">이용약관</a>
        <span class="footer-separator"></span>
        <a href="/sign-up/privacy" class="footer-quick__link">개인정보취급방침</a>
      </div>
      <p class="footer-text__item footer-text__item-copyright">
        Copyright © ChannelMiddleWare Inc. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>

</div>
<script>
  $('.js-faq-list-item').on('click', function () {
    const answer = $(this).find('.js-faq-answer')
    if ($(this).hasClass('open')) {
      $(this).find('.js-faq-answer-area').animate({ 'height': 0, 'margin-bottom': 0 }, 300)
    } else {
      if ($(window).width() >= 1280) {
        if ($(this).hasClass('first')) {
          $(this).animate({ 'margin-bottom': '24px' }, 300)
        }
      }
      $(this).find('.js-faq-answer-area').animate({ 'height': answer[0].offsetHeight + 'px' }, 300)
    }

    $(this).toggleClass('open')
  })
</script>
</body>
